<li class="cate home on"><a href="index.html"><img src="img/cate04.png" alt="홈"></a></li>
<li class="cate myself" data-scroll="cate01"><a href="javascript:;"><img src="img/cate01.png" alt="자기소개"></a></li>
<li class="cate image"><a href="javascript:;"><img src="img/potfolio01.png" alt="독바 이미지"></a></li>
<li class="cate porfolio" data-scroll="cate02"><a href="javascript:;"><img src="img/cate02.png" alt="포트폴리오"></a></li>
<li class="cate study" data-scroll="cate03"><a href="javascript:;"><img src="img/cate03.png" alt="공부기록"></a></li>